html, body, h1, h2, h3, p {
    font-family: Helvetica-Light, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

#mc_embed_signup form {
    text-align: center;
    color: #111;
}

.home {
  background-color: white;
  color: #111111;
  text-shadow: none;
  padding: 20px;
}

.home a {
  color: #0074D9;
}

.home p {
  text-align: justify;
  line-height: 22px;
}

.home h1, .home h2, .home ul li {
  text-align: left;
}

.home h1 {
  margin-top: 0;
}

.home {
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#mc_embed_signup .mc-field-group input {
  text-align: center;
}

.site-wrapper {
  /*display: block;*/
  /*overflow: auto;*/
}
.site-wrapper-inner {
    display: block;
}

@media only screen and (max-width : 768px) {
  .site-wrapper-inner {
    /*margin-top: 150px;*/
  }
}

@media only screen and (max-width : 480px) {
  html {
    /* Improve android performance */
    box-shadow: none;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 16px;
  }

  .home p, .home ul {
    font-size: 12px;
  }

  .home ul {
    padding-left: 15px;
  }

  .home {
    padding: 15px;
  }

  .cover {
    padding: 15px;
  }

  .inner {
    padding: 15px;
  }
}