html, body, h1, h2, h3, p {
    font-family: Helvetica-Light, Verdana, sans-serif;
}

body {
    background-color: #3498db;
    overflow-x: hidden;
}

#mc_embed_signup form {
    text-align: center;
    color: #111;
}

.home {
  background-color: white;
  color: #111111;
  text-shadow: none;
  padding: 20px;
}

.home a {
  color: #0074D9;
}

.home p {
  text-align: justify;
  line-height: 22px;
}

.home h1, .home h2, .home ul li {
  text-align: left;
}

.home h1 {
  margin-top: 0;
}

.home {
  box-shadow: 1px 1px 13px -2px #111;
}

#mc_embed_signup .mc-field-group input {
  text-align: center;
}

.site-wrapper {
  display: block;
  overflow: auto;
}
.site-wrapper-inner {
    display: block;
}

@media only screen and (min-width : 481px) {
  .site-wrapper-inner {
    margin-top: 150px;
  }
}

@media only screen and (max-width : 480px) {
  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 16px;
  }

  .home p, .home ul {
    font-size: 12px;
  }

  .home ul {
    padding-left: 15px;
  }

  .home {
    padding: 15px;
  }

  .cover {
    padding: 15px;
  }

  .inner {
    padding: 15px;
  }
}