<div class="home">
  <h1>Techtalks in St. Gallen</h1>
  <p>
  Hast du dich schon gefragt, ob jemand in der Ostschweiz das Internet der Zukunft gestaltet oder möchtest du wissen, welche coolen Projekte in deiner Nachbarschaft umgesetzt werden?
  Suchst du Gleichgesinnte, um ein neues Projekt anzustossen oder möchtest du dich einfach bei einem Bier über die Unterschiede zwischen Solr und Elastic Search unterhalten? 
  </p>
  <p>
  Webnesday (Web-Wednesday) soll ein regelmässiges Treffen der Ostschweizer Webcommunity werden. Dazu brauchen wir dich!
  Ziel ist es, gemeinsam mit Gleichgesinnten spannenden Vorträgen zu lauschen, Kontakte zu knüpfen und sich bei einem Bier über spannende Themen auszutauschen.
  Falls du Interesse hast, teilzunehmen, so melde dich bitte für den <a href="#/signup">Newsletter</a> an oder folge uns auf Twitter <a href="http://www.twitter.com/webnesdaysg" target="_blank">(@webnesdaysg)</a>. 
  Sobald wir sehen, dass Interesse vorhanden ist, werden wir mit der Planung des ersten Treffens beginnen. 
  Solltest du jemanden kennen, den dieses Treffen auch interessieren könnte, würden wir uns freuen, wenn du Webseite aktiv sharen könntest. 
  </p>

  <h2>Speakers</h2>
  <p>
  Wir sind auch auf der Suche nach spannenden Talks. Wenn du über ein Projekt oder eine Technologie berichten möchtest, würden wir uns über eine <a href="#/contact">E-Mail</a> freuen.
  </p>

  <h2>Guidelines</h2>
  <p>
    <ul>
      <li>Die Talks sollten etwa 30 bis 60 Minuten dauern.</li>
      <li>Es sollte etwas sein, das du beruflich brauchst oder mit dem du gute Erfahrungen gemacht hast.</li>
      <li>Nach dem Talk werden wir Zeit für eine offene Diskussion haben.</li>
    </ul>
  </p>
  <h2>Hosting und Sponsoring</h2>
  <p>
    Falls jemand Lust hat, die Meute für einen Abend aufzunehmen, würden wir uns über eine Nachricht freuen.
  Was braucht es, um einen Webnesday zu hosten?
  </p>


  <ul>
    <li>Lust und Zeit, die eigenen Türen für einen Abend zu öffnen</li>
    <li>Ein Sitzungszimmer mit einem Beamer für ca. 10 bis 20 Leute</li>
  </ul>
</div>